.login-containers {
  border-radius: 10px;
  margin: 0 auto;
  width:100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
}
.login-contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: max-content;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
}
.login-container h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  text-align: left;
  font-weight: bold;
  color: #555;
  width: 300px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.password-container {
  position: relative;
  max-width: 300px;
  width: 100%;
}

.password-container input {
  padding-right: 60px;
  width: 100%;
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  top:13px;
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;

}

.toggle-password:hover {
  text-decoration: underline;
}

.login-button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button:active {
  background-color: #003f7f;
}

@media (max-width: 500px) {
  .login-container {
    padding: 20px;
  }

  .login-form {
    gap: 10px;
  }

  .login-button {
    font-size: 14px;
    padding: 10px;
  }
}
